@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #b7b7a4;
  color: #fff;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
  letter-spacing: 10px;
}

span {
  letter-spacing: 5px;
}

@media (max-width: 1150px) {
  .container {
    flex-direction: column;
    height: auto;
  }
}
