@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgba(245, 157, 39, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.btn {
  background-color: rgba(245, 157, 39, 1);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  margin: 1rem;
  padding: 1.5rem 3rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
