@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Moonrocks', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.bg {
  background: no-repeat center/cover
    url('https://wallpaperaccess.com/full/6549944.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  color: #f5d703;
  font-size: 100px;
}
