@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.panel-container {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  max-width: 500px;
}

.panel-container strong {
  line-height: 1.5rem;
}

.ratings-container {
  display: flex;
  margin: 1rem 0;
}

.rating {
  cursor: pointer;
  margin: 0.5rem;
}

.rating p {
  margin: 0;
  font-size: 6rem;
  transition: transform 0.5s ease;
}

.rating small {
  font-weight: bold;
  color: #555;
  transition: color 0.5s ease;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.rating:hover p,
.rating.rating.active p {
  transform: scale(1.2);
}

.btn {
  background-color: tomato;
  border: none;
  color: #fff;
  font-family: inherit;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.97);
}

.fa-heart {
  color: #ca0b4a;
  font-size: 3rem;
  margin-bottom: 1rem;
}
