@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.button {
  background-color: tomato;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.notifContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notif {
  /* background-color: rebeccapurple; */
  color: #fff;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.notif.purple {
  background-color: rebeccapurple;
}

.notif.red {
  background-color: red;
}

.notif.green {
  background-color: green;
}

.notif.blue {
  background-color: blue;
}

.notif.gray {
  background-color: gray;
}

.notif.orange {
  background-color: orange;
}

.notif.black {
  background-color: black;
}
