@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 1rem;
}

.container {
  background-color: tomato;
  padding: 3rem 5rem;
  border-radius: 1rem;
  color: #fff;
  margin: 20px auto;
  max-width: 35rem;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.user-text {
  line-height: 1.5rem;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img {
  border-radius: 50%;
  height: 75px;
  width: 75;
  object-fit: cover;
}

.user-details {
  margin-left: 1rem;
}

.user .username {
  margin: 0;
}

.user .job {
  margin: 10px 0;
}

.progress-bar {
  background: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 35rem) {
  .fa-quote {
    display: none;
  }

  .container {
    padding: 2rem 3rem;
  }
}
