@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

:root {
  --main-color: #0d1117;
  --assistant-color: #161b22;
  --input-font-color: #c2c3c5;
  --border-color: #30363d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Albert Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--main-color);
}

.user-form {
  background-color: var(--assistant-color);
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.user-form input {
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 0.3rem;
  color: #fff;
  font-family: inherit;
  width: 100%;
}

.user-form input:focus {
  outline: none;
}

.user-form input::placeholder {
  color: var(--input-font-color);
}

.user-form button {
  position: absolute;
  right: 1.5rem;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

main {
  width: 350px;
  margin: 1rem 0;
}

.card {
  border: 3px solid var(--border-color);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--assistant-color);
  box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.user-image {
  width: 150px;
  border-radius: 50%;
  border: 10px solid var(--main-color);
}

.user-info {
  padding: 1rem;
}

.user-name {
  border-bottom: 1px solid var(--border-color);
  line-height: 200%;
}

h2 {
  color: #fff;
  letter-spacing: 5px;
}

small {
  font-weight: bold;
  color: var(--input-font-color);
  letter-spacing: 1.5px;
}

p {
  color: #eee;
  text-align: justify;
}

ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style-type: none;
  background-color: #40454e;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 5px;
  color: #fff;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}

.repos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

.repos a {
  text-decoration: none;
  color: #3696ff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.repos i {
  color: var(--input-font-color);
}
